<h1>Game#new</h1>
<p>Find me in app/views/game/new.html.erb</p>

<h1>THIS WILL BE THE GAME ARENA</h1>


<!-- need to fetch the js files from javascript folder
	 need to fetch assets from assets images folder

	 then

	 game to be appended to this div -->

<div id="gameContainer"></div>
<style>
/*html, body {
	max-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	width: auto;
	top: 0;
}	*/
</style>
