

<div id="gameContainer"></div>
<style>
/*html, body {
	max-height: 100vh;
	overflow: hidden;
}

canvas {
	position: absolute;
	width: auto;
	top: 0;
}	*/
</style>

<p><%= link_to 'Return To Profile', user_path( @current_user ) %></p>