body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  font-size: medium;
  color: #8DFFFC;

  &:visited {
    color: #8DFFFC;
  }

  &:hover {
    color: #FCEE21;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  text-align: center;
}

#error_explanation {
  padding: 7px;
  height: 40px;

  h2 {
    font-weight: bold;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
  }

  ul li {
    font-size: 12px;
    list-style: none;
    text-align: center;
  }
}
